@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import url("../base.css");

body {
    overflow: hidden;
    background-color: var(--color-back);
}

.panel {

    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    justify-self: center;
    position: absolute;
    top: 0.625rem;
    left: 1rem;
    border-radius: 0.75rem;
    background-color: var(--color-panel);
    width: 98%;
    height: 7.5rem;
}

.NameUser {
    position: relative;
    top: 5rem;
    left: 5px;
    color: white;
    font-family: var(--font-text-kufam);

}

.ImageAva {
    box-shadow: -5px 0px 24px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -5px 0px 24px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 0px 24px -2px rgba(0, 0, 0, 0.75);
    box-shadow: #191a20;
    position: relative;
    bottom: 85px;
    left: 40px;
    border-radius: 100px;
    width: 76px;
    height: 76px;
}

.StatusUserText {
    position: relative;
    top: 2.5rem;
    left: 68px;
    margin: 0;
    padding-top: 0.125rem;
    padding-left: 0.3125rem;
    font-size: 18px;
    width: 2.5rem;
    font-family: var(--font-text-rokkit);
    color: var(--color-online);
    border-radius: 0.25rem;
}

.StatusUser {
    position: relative;
    top: 2.5rem;
    left: 6rem;
    margin: 0;
}

.StatusUserTime {


    padding-top: 0.125rem;
    padding-left: 0.3125rem;
    font-size: 18px;
    width: 2.5rem;
    font-family: var(--font-text-rokkit);
    color: white;
    background-color: var(--text-or-element);
    border-radius: 0.25rem;
}

.CircleStatus {
    position: relative;
    left: 95px;
    bottom: 5px;
    z-index: 100;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    border: solid #1D1E24 4px;
}

.OnStatus {
    background-color: var(--color-message-and-uvedom);
}

.OffStatus {
    background-color: var(--text-or-element);
}

.Data_User {
    width: 150px;
    height: 121px;
    resize: none;
}

.User {

    border-radius: 0.25rem;
    margin-left: 0.9375rem;
    background-color: var(--color-user-opacity);
    opacity: 100%;
    width: 150px;
    height: 121px;
}

.back {
    width: 7.5625rem;
    height: 7.5625rem;
}